.hed-main {
	height:9.5rem;
}
.nav-text {
	font-size: 1.5rem;
	cursor: pointer;
}
.tbl-title {
	font-size: 1.4rem;
}
.form-group .control-label {
	font-weight: bold;
}
.padding-top-u7 {
	padding-top: 7px;
}