<section class="table-responsive" ng-cloak>
	<table class="table table-striped">
		<thead>
		  <tr class="row tbl-title">
		  	<th ng-show="mode" ng-class="{'col-md-3': mode != 'done', 'col-md-4': mode == 'done'}" >Task</th>
		  	<th ng-hide="mode == 'done'" class="col-md-2">Priority</th>
		  	<th ng-show="mode" ng-class="{'col-md-4': mode != 'done', 'col-md-6': mode == 'done'}">Note</th>
		  	<th ng-show="mode" class="col-md-2">Data registered</th>
		  	<th ng-hide="mode == 'done'" class="col-md-1">Action</th>
		  </tr>
		</thead>
		<tbody>
			<tr class="row" ng-repeat = "toDo in state">
				<td ng-show="mode" ng-class="{'col-md-3': mode != 'done', 'col-md-4': mode == 'done'}">{{toDo.task}}</td>
				<td ng-hide="mode == 'done'" class="col-md-2">{{toDo.priority}}</td>
				<td ng-show="mode" ng-class="{'col-md-4': mode != 'done', 'col-md-6': mode == 'done'}">{{toDo.note}}</td>
				<td ng-show="mode" class="col-md-2">{{toDo.dataRegistered | date:"dd/MM/yyyy"}}</td>
				<td ng-show="mode == 'toDo'" class="col-md-1">
					<button type="submit" class="btn btn-success" ng-click="addDone(toDo)">Done</button>
				</td>
				<td ng-hide="mode == 'done'" class="col-md-1">
					<button type="submit" class="btn btn-danger" ng-click="removeToDo(toDo)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="state.length === 0" ng-cloak>
		<div class="alert alert-info" >
			<p class="text-center" >No tasks.</p >
		</div >
	</div >
</section>